<html lang="en">
  {{>meta}}
  <body>
    {{>header}}
    <section class="main" style="background-color:burlywood;">
      <h1>Hello world from HBS {{page}}</h1>
      <h2>Page not found</h2>
    </section>
    {{>footer}}
  </body>
</html>