<html lang="en">
  {{>meta}}
  <body>
    {{>header}}
    <section class="main">
      <h1>Hello world from HBS {{page}}</h1>
      <p>{{dynamicContent}}</p>
    </section>
    {{>footer}}
  </body>
</html>